@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.logIn {
  padding: 60px 0;
}

.logInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Fira Code;
  background-color: #ec4c4c;
  padding: 5%;
  border-radius: 25px;
  margin-left: 30%;
  margin-right: 30%;
}

.logInHeader {
  font-family: Fira Code;
  font-size: 50px;
  text-align: center;
  color: #8dcaff;
}

.email,
.password {
  display: flex;
  color: #f8fc74;
  text-align: center;
  font-size: 16pt;
}

input[type="email"] {
  display: flex;
  border: 0;
  height: 25px;
  width: 200px;
  font-family: Fira Code;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

input[type="password"] {
  display: flex;
  border: 0;
  height: 25px;
  width: 200px;
  font-family: Fira Code;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .logInForm {
    width: 50%;
    align-content: center;
  }
}
