@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.pageNotFound {
  font-family: Fira Code;
  color: #ec4c4c;
  font-size: 15vh;
  text-align: center;
}

.notExist {
  font-family: Fira Code;
  color: #8dcaff;
  font-size: 5vh;
  text-align: center;
}

.take-me-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.takemehome {
  display: flex;
  border: 0;
  font-family: Fira Code;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  height: 50px;
  width: 20vh;
  background-color: #f8fc74;
  align-items: center;
  justify-content: center;
}

a.takemehome:visited {
  text-decoration: none;
  color: black;
}

@media (max-width: 480px) {
  .pageNotFound {
    font-size: 6vh;
  }

  .notExist {
    font-size: 4vh;
  }
}
