.FAQs-wrapper{
    width: 80%;
    padding: 0 10%;
}
.FAQs-title h1{
    color: var(--logoBlack);
    font-size: 7vh;
}
.FAQs-question{
    padding: 2vh 0;
    background-color: var(--logoBlue);
    border-radius: 10px;
}

.FAQs-question h6{
    padding: 0 5% 2.5% 5%;
    margin: 0%;
    padding-bottom: 0;
    font-size: 4vh;
}
.FAQs-question p{
    padding: 0 10%;
    font-size: 3vh;
}
.FAQs-question  a{
    color: var(--logoBlack);
    font-weight: 650;
}
.FAQs-question a:hover{
    text-decoration: underline;
}