@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
.home-container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.H-section-container {
  font-family: fira code;
  z-index: 2;
  width: 35vw;
  height: 17vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  overflow: hidden;
  padding-right: 1%;
  border-radius: 0.6em;
  /*shadows*/
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: solid 2px#EC4C4C;
}

#H-section-button {
  font-family: fira code;
  height: 10%;
  margin-top: 2%;
  padding: 0 2% 0 2%;
  border-radius: 1em;
  background-color: #f8fc74;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.055s ease-out;
}

.H-section a {
  text-decoration: none;
  color: black;
}

@media (max-width: 480px) {
  .H-section-container {
    width: 55vw;
    height: 27vw;
    align-content: center;
  }
}
