.about-title{
    color: var(--logoBlue);
    text-align: center;
}
.about-content{
    width: 80%;
    padding: 0% 10%;
    text-align: center;
}
.about-content a{
    color: var(--logoRed);
    font-weight: 600;
}
.about-content a:hover{
    text-decoration: underline;
}