.quizData {
    display: flex;
    height: 70vh;
}

.quizSelection {
    width: 50%;
    display: grid;
    justify-content: center;
    padding-left: 10%;
}

.quizSelection h3 {
    margin: 0;
    padding: 0 0 2vh 0;
}

.quiz-start-button {
    width: 50%;
    display: flex;
    align-items: center;
}

#startQuiz {
    border-radius: 12px;
    width: auto;
    height: auto;
    background-color: var(--logoWhite);
    font-weight: 600;
    font-size: 6vh;
    padding: 2.5%;
    margin: 0;
}

#startQuiz:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    border-width: 0.5vh;
}

.dropdown-selection {
    padding: 2vh 0;
    width: 100%;
}

.dropdown-selection h3 {
    font-size: 5vh;
}

.dropdown-selection select {
    font-size: 4vh;
    border-radius: 15px;
    border-color: var(--buttonBlue);
    border-width: 0.5vh;
}

.dropdown-selection select:hover {
    cursor: pointer;
}

.q-wrapper {
    width: 80%;
    padding: 0 10%;
}

.quiz-details {
    padding: 5% 0;
}

.quiz-details h2 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 4vh;
}

.q-details {
    padding-bottom: 3vh;
}

.q-category {
    text-decoration: underline;
}

.question {
    text-align: center;
    font-size: 5vh;
}

.q-difficulty {
    padding-bottom: 2vh;
}

.allAnswers {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding-bottom: 8vh;
}

.each-answer-button button {
    border: 0;
    background-color: var(--buttonBlue);
    color: var(--logoWhite);
    font-size: 3.5vh;
    border-radius: 10px;
    width: 35vh;
    height: 25vh;
    padding: 10%;
}

.each-answer-button button:hover {
    cursor: pointer;
    transition: 0.5s;
    color: var(--logoBlack);
}

@media screen and (max-width: 800px) {
    .quizData {
        display: flex;
        height: 70vh;
        flex-direction: column;
    }
    .dropdown-selection h3 {
        font-size: 12px;
    }
    .dropdown-selection select {
        font-size: 1.6vh;
        border-radius: 15px;
        border-color: var(--buttonBlue);
        border-width: 0.5vh;
    }
    .quiz-start-button {
        width: 40%;
        display: flex;
        flex-direction: row-reverse;
    }
    #startQuiz {
        border-radius: 12px;
        width: auto;
        height: auto;
        background-color: var(--logoWhite);
        font-weight: 600;
        font-size: 2vh;
        padding: 2.5%;
        margin: 0;
    }
}