@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.nav-container {
  position: relative;
  background-color: rgb(97, 94, 94);
  height: 20vw;
  max-height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*? LOGO ADJUSTMENTS  */
.logo img {
  position: inherit;
  padding: 0.5rem 3.4rem;
  height: 10vw;
  max-height: 120px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.logo img:hover {
  opacity: var(--logo-opacity);
  transition: 0.5s ease-in-out;
}

.navMenu-icon {
  color: white;
  position: fixed;
  height: 30px;
  width: 30px;
  top: 45px;
  right: 40px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s;
}

.navMenu-icon:hover{
  transform: rotate(180deg);
  height: 33px;
  width: 33px;
}

.nav-menu.showMenu {
  width: 40%;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 9;
  transition: all 0.25s ease-in-out 0s;
}

.nav-menu {
  position: fixed;
  overflow-y: scroll;
  background: var(--logoRed);
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 0%;
  padding-top: 60px;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 290px;
  z-index: 9;
  transition: all 1s ease-in-out 0s;
}

.navMenu-button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.loginStatusBtns {
  position: relative;
  right: 50%;
  display: flex;
  flex-direction:column-reverse;
  background: var(--logoYellow);
  border-radius: var(--button-border-radius);
  text-align: center;
  opacity: 75%;
  transition: var(--button-transition);
}

.loginStatusBtns:hover{
  opacity: 100%;
  transition: var(--button-transition);
}

/*? Button display username when logged in or Log in if not */
.loginBtn {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  text-decoration: none;
}

.userNameBtn {
  background: var(--footerColour);
  color: white;
  padding: 5px 5px;
  border: none;
}