@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  };

  .bars {
    padding: 20px;  
    color: red solid 2px;
  }

  .nav img {
      height: 20vh;
  }
  .nav {
      display: flex;
      justify-content: center;
  }

  .navbtnlink {
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border: #000 1px solid;
    border-radius: 4px;
    background: #8DCAFF;
    padding: 10px 22px;
    margin-left: 24px;
  }

  .navbtnlink:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
  }
  ;