
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.nav-container {
  position: relative;
  background-color: rgb(97, 94, 94);
  height: 20vw;
  max-height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*? LOGO ADJUSTMENTS  */
.logo img {
  position: inherit;
  padding: 0.5rem 3.4rem;
  height: 10vw;
  max-height: 120px;
  cursor: pointer;
}

/*! button that opens/closes the hidden nav menu  */
.nav-container button {
  /* position: absolute; */
  /* right: 10vw; */
  /* top: 10vw; */
  /* z-index: 10; */
  /* cursor: pointer; */
}

/* .loginStatusBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/*! Button display username when logged in or Log in if not */
.loginBtn {
  position: inherit;
  right: 20px;
  top: 20px;

  /* text-transform: uppercase; */
  background-color: var(--logoYellow);
  opacity:30% ;
  border: red 2px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: black 1px; 
}

/*! need to add animation smooth etc  */
.#nav-menuBtn {

  border: red 2px solid;
  overflow: visible;
  position: absolute;
  color: var(--logoBlue);
  height: 20px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  right: 0;
  top: 0;
  padding: 0.2rem 0.2rem;
}



.nav-menu.showMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 15vh 0 0 50px;
  padding-right: auto;
}

.nav-menu {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: var(--logoRed);
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}
