@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --buttonBlue: #47aaff;
  --logoRed: #ec4c4c;
  --logoYellow: #f8fc74;
  --logoBlue: #8dcaff;
  --logoBlack: #000000;
  --logoWhite: #ffffff;
  --footerColour: rgb(97, 94, 94);
  --button-padding: 0.5rem 0.5rem;
  --button-border-radius: 5px;
  --logo-opacity: 60%;
  --button-transition: ease-in-out 0.5s;

  /*? to use these colours you would say "background-color: var(--logoRed);" */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}
.app-body{
  min-height: 80vh;
}

/* entire nav bar  */
.nav-container {
  position: relative;
}

span{
    color: var(--logoRed);
}

::-webkit-scrollbar {
  width: 1vh;
  opacity: 0;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--logoBlue);
  border-radius: 10px;
}

@media (max-width: 480px) {
  footer {
    display: none;
  }
}
