@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --buttonBlue: #47aaff;
    --logoRed: #EC4C4C;
    --logoYellow: #F8FC74;
    --logoBlue: #8DCAFF;
    --logoBlack: #000000;
    --logoWhite: #ffffff;
    --footerColour: #4B4B4B;
    /*? to use these colours you would say "background-color: var(--logoRed);" */
}

html{
    margin: 0;
    padding: 0;
    font-family: "Fira Code", sans-serif;
}
span{
    color: var(--logoRed);
}

::-webkit-scrollbar{
    width: 2vh;
    opacity: 0;
}
::-webkit-scrollbar-track{
    border-radius: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--logoBlue);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--buttonBlue);
}